.btn{
  padding: 8px 8px;
  border-radius: 10px;
  margin-top: 12px;
  font-weight: bold;
}

.btn-round{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 4px;
  text-align: center;
}

.call-to-action{
  background-color: rgba(96, 96, 228, 0.833);
  color: white;

}
.delete{
  /* width: 20%;
  margin: 12px auto; */
  background-color: rgb(186, 40, 40);
  color: white;
}

.center{
  width: 50%;
  margin: 12px auto;
}

.no-decoration{
  text-decoration: none;
}

.width-100{
  width: 32%;
}
