@import "card.css";
@import "button.css";
@import "form.css";
@import "navbar.css";


*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}
.container{
  width: 80%;
  margin: 20px auto;
}
